.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
  margin: 0;
}

.remove-icon {
  font-size: 1rem;
  line-height: 1.5rem;
}

.add-item-input {
  display: block;
}

.list {
  counter-reset: item;
  list-style-type: none;
  margin-top: 1rem;
}

.list:first-child {
  margin: 0;
  padding: 0;
}

.list-item:before {
  content: counters(item, '.') '  ';
  counter-increment: item;
}

.list-item {
  margin-bottom: 1rem;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
